[data-theme="light"] {
  --bg-color: #ffffff;
  --text-color: #000000;
  --nav-bg-color: #333;
  --nav-text-color: white;

  details summary {
    background-color: #f0f0f0;
    color: #000;
    padding: 0.5rem;
    border-radius: 4px;
    cursor: pointer;
  }
}
[data-theme="dark"] {
  --bg-color: #121212;
  --text-color: #e0e0e0;
  --nav-bg-color: #222;
  --nav-text-color: #ddd;

  details summary {
    /* background-color: #333; */
    color: #e0e0e0;
    padding: 0.5rem;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
  }

  details[open] summary {
    /* background-color: #444; */
  }

  details p {
    background-color: #222;
    padding: 0.5rem;
    border-radius: 4px;
    margin-top: 0.5rem;
  }
}

.page-content {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1rem;
  box-sizing: border-box;
}

.page-content.wide {
  max-width: 1600px;
}

nav {
  background-color: var(--nav-bg-color);
  color: var(--nav-text-color);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 1rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Additional global styles as needed */
h1, h2, h3, h4, h5, h6 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

p {
  margin-bottom: 1rem;
}

button {
  padding: 0.25rem 0.5rem;
  border: none;
  background-color: #00bbff;
  border-radius: 4px;
  font-size: 0.9rem;
  &:hover:not(:disabled) {
    cursor: pointer;
    background-color: #0099cc;
  }
}

ul {
  padding-left: 40px;
}
